{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}
{% block content %}

<form class="text-right" role="search" method="get" id="searchform" action="{% url 'article:search' %}">
	<input type="search" name="q" placeholder="搜索" required>
	<button type="submit" class="btn btn-primary"><span class="ion-ios-search-strong"></span>点击搜索</button>
</form>

<div class="row text-center vertical-middle-sm">
    <h1>阅读，丰富头脑，善化行为</h1>
</div>
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}
<div class="container">
    {% for article in articles %}
        <div class="list-group">
            <a href="{{article.get_url_path}}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{article.title}}</h4>
            </a>
            <p class="list-group-item-text">作者:
                <a href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a>
            </p>
            <p class="list-group-item-text">概要:{{article.body|slice:'70'|linebreaks}} </p>
        </div>
    {% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?q={{ q }}&page={{ page.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
        <a href="?q={{ q }}&page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>


</div>
{% endblock %}