{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">


    {% if form.errors %}
        <p>用户名与密码不匹配，请再次输入</p>
    {% endif %}


    {% if next %}
    <form class="form-horizontal" action="{% url 'account:user_login' %}?next={{next}}" method="post" >
    {% else %}
    <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:red">
                <span class="glyphicon glyphicon-user"></span>用户名</label> <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue">
                <span class="glyphicon glyphicon-floppy-open"></span>密码</label>
            <div class="col-md-6 text-left">{{ form.password }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="登录">
    </form>

</div>
{% endblock %}