{% extends "base.html" %}
{% block title %}passowrd change{% endblock %} {% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>修改密码</h1>
    <p>密码不少于6位 </p>


    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>
                {{ form.old_password.label_tag }} 
            </label>
            <div class="col-md-6 text-left">{{ form.old_password }}</div> 
        </div>

        <div class="form-group">
            <label class='col-md-5 control-label text-right'>
                {{ form.new_password1.label_tag }} 
            </label>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div> 
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.new_password2.label_tag }} 
            </label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div> 
        </div>

        <input type="submit" value="修改密码" class="btn btn-primary btn-lg"/>
    </form> 
</div>
{% endblock %}