{% extends "base.html" %}

{% load staticfiles %}

{% block title %}register user{% endblock %}

{% block content %}

<div class="row text-center vertical-middle-sm">

    <meta charset="UTF-8">

    <style>
        input {
            border-radius: 5%;
            height: 40px;
            box-shadow: 0 0 10px grey
        }
        #zemail {
            display: inline-block;
            width: 100px;
            height: 40px;
            box-shadow: 0 0 10px grey;
            border-radius: 5%;
            border: 2px black solid;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
            margin-left: 10px;
        }
    </style>




    <h3>用户注册</h3>
    <p>如果您已有账号，请点击 <strong><a href="{% url 'account:user_login' %}">登录</a> </strong></p>

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
      


         <div class="form-group">
            <label  class="col-md-5 control-label" >
             用户名：</label> <div class="col-md-6 text-left">
             {{ form.username.errors }}
             {{ form.username }}</div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" >
            密码：</label> <div class="col-md-6 text-left">
             {{ form.password.errors }}
             {{ form.password }}</div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" >
             确认密码：</label> <div class="col-md-6 text-left">
             {{ form.password2.errors }}
             {{ form.password2 }}</div>
        </div>


        <div class="form-group">
            <label class="col-md-5 control-label" >
             手机号码：</label> <div class="col-md-6 text-left">
                {{ profile.phone.errors }}
                {{ profile.phone }}</div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" >
             学号：</label> <div class="col-md-6 text-left">
                {{ profile.StudentID.errors }}
                {{ profile.StudentID }}</div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" >
             邮箱：</label> <div class="col-md-6 text-left">
                {{ form.email.errors }}
                {{ form.email }}</div>
        </div>

        <!--<p>邮  箱：<input style="width: 250px;margin-left: 12px" name="email" id="email" type="email" ></p>-->
    <p><input style="width: 100px;height: 40px;margin-top: 30px" type="submit" value="注册" ></p>

   </form>

</div>



{% endblock %}
