{% extends "base.html" %}

{% load staticfiles %}

{% block title %}register user{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>注册</h1>
    <p>If you are a user, <strong><a href="{% url 'account:user_login' %}">Login</a> </strong>,please</p>
    <p>or register.</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
      {% for field in form %}
                <div class="row text-center vertical-middle-sm">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}

           </div>
       {% endfor %}

        {% for field in profile  %}
                <div class="row text-center vertical-middle-sm">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}

           </div>
       {% endfor %}

      <div class="button-wrapper submit">
         <input type="submit" value="注册" />
      </div>
   </form>
</div>
{% endblock %}
